<!-- create画面 -->
{% extends 'content_page_base.html' %}

{% load static %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="ui main text container">
    <div class="ui two column doubling stackable grid container">
        <!--１列目-->
        <div class="row">
            <!--使用カラム-->
            <div class="column">
                {% if appuser.images %}
                    <img class="ui fluid circular image" src='{{ appuser.images.url }}'>
                    <label id="imglavel" for="file_test" class="ui primary button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        <span id="imgtext">写真をアップロード</span>
                        <form id="imgform" class="ui form" action="" method="POST" enctype="multipart/form-data" hidden>{% csrf_token %}
                            <input id="file_test" type="file" name="images" class="ui primary button" onchange="updateImage()" form="imgform">
                            <button id="filebutton" class="ui primary button" type="submit" form="imgform" hidden>写真を反映</button>
                        </form>
                    </font></font></label>
                {% else %}
                    <img class="ui fluid circular image" src="/media/default_user.png">
                    <label id="imglavel" for="file_test" class="ui primary button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        <span id="imgtext">写真をアップロード</span>
                        <form id="imgform" class="ui form" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                            <input id="file_test" type="file" name="images" class="ui primary button" onchange="updateImage()" form="imgform">
                            <button id="filebutton" class="ui primary button" type="submit" form="imgform" hidden>写真を反映</button>
                        </form>
                    </font></font></label>
                {% endif  %}
            </div>
            <div class="column">
                <h1 class="ui center aligned header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    {{ appuser.name }}
                    </font></font>
                </h1>
                <!--カラム内1列目-->
                <div class="ui right aligned three column grid">
                    <div class="row"> 
                        <div class="column">
                            <h4 class="ui header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                投稿数
                                </font></font><div class="sub header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10</font></font></div>
                            </h4>
                        </div>
                        <div class="column">
                            <h4 class="ui header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                フォロワー
                                </font></font><div class="sub header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10</font></font></div>
                            </h4>
                        </div>
                        <div class="column">
                            <h4 class="ui header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                フォロー中
                                </font></font><div class="sub header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10</font></font></div>
                            </h4>
                        </div>            
                    </div>
                </div>
            </div>
            <!--カラム終-->
        </div>
    </div>
    <div class="ui column doubling stackable grid container">
        <!--2列目-->
        <div class="row">
            <div class="column">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="first" id="first" onclick="changetag(this.id)"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">プロフィール</font></font></a>
                    <a class="item" data-tab="second" id="second" onclick="changetag(this.id)"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">投稿</font></font></a>
                    <a class="item" data-tab="third" id="third" onclick="changetag(this.id)"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">フォロワー</font></font></a>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="first" id="first_first"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    <!--タブ１コンテンツ-->
                    <div class="ui divided selection list">
                        <form id="mainform" class="ui form" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                            <div class="inline field">
                                <label class="ui teal horizontal label">名前</label>
                                <input type="text" name="name" value="{{appuser.name}}" placeholder="" form="mainform">
                            </div>
                            <div class="inline field">
                                <label class="ui teal horizontal label">年齢</label>
                                <input type="number" name="age" value="{{appuser.age}}" placeholder="" form="mainform"> 
                            </div>
                            <div class="inline field">
                                <label class="ui teal horizontal label">会社</label>
                                <input type="text" name="company" value="{{appuser.company}}" placeholder="" form="mainform">
                            </div>
                            <div class="inline field">
                                <label class="ui teal horizontal label">趣味</label>
                                <input type="text" name="hoby" value="{{appuser.hoby}}" placeholder="" form="mainform">
                            </div>
                            <div class="inline field">
                                <label class="ui teal horizontal label">出身</label>
                                <input type="text" name="birthplace" value="{{appuser.birthplace}}" placeholder="" form="mainform">
                            </div>
                            <div class="field">
                                <label class="ui teal horizontal label">自己紹介</label>
                                <textarea type="text" name="introduction" placeholder="" form="mainform">{{appuser.introduction}}</textarea>
                            </div>
                            <button class="ui primary button" type="submit">保存</button>
                        </form>
                    </div>
                </font></font></div>
                <div class="ui bottom attached tab segment" data-tab="second" id="second_second"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    <div class="ui tiny images">
                        {% if user_posts %}
                        {% for post in user_posts %}
                        <img class="ui image" src="{{post.images.url}}">
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </div>
                </font></font></div>
                <div class="ui bottom attached tab segment" data-tab="third" id="third_third"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    フォロワー
                </font></font></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
